<h1>Current Yurt Conditions</h1>

<h2> Current Temperature: <%= @current_temp.degrees%>°F<br/>
  Last Read @ <%= @current_temp.created_at.to_formatted_s(:short)%></h2>

<table>
  <thead>
    <tr>
      <th>Degrees</th>
      <th>When</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @temperatures.each do |temperature| %>
      <tr>
        <td><%= temperature.degrees %></td>
        <td><%= temperature.created_at.to_formatted_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

