<p id="notice"><%= notice %></p>

<p>
  <strong>Degrees:</strong>
  <%= @temperature.degrees %>
</p>

<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
